.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 115px;
    -fx-tab-min-height: 55px;
}

.tab {
    -fx-background-insets: 0 0 0 0,0,0;
    -fx-background-radius: 0;
    -fx-padding: 0 0 0 0;
}

.tab-pane .tab {
    -fx-background-color: #FFF;
    -fx-focus-color: transparent;
    -fx-margin: 0;
}

.tab-pane .tab:selected {
    -fx-background-color: #F5CB5C;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 14px;
    -fx-font-family: 'Avenir';
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #242423;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 0 0;
    -fx-padding: 0 0 0 0;
}

.tab-pane:bottom *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0 0 0 0;
}

.tab-pane:left *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0 0 0 0;
}

.tab-pane:right *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0 0 0 0;
}
